@using Mechi.Backend.Helper
@model Mechi.Backend.ViewModel.Blog.CommentSectionViewModel
@foreach (var item in Model.Comments)
{
<div class="d-flex mb-4">
    <div class="flex-shrink-0"><img class="rounded-circle" height="50px" width="50px" src="@item.Picture" alt='@item.Name' /></div>
    <div class="ms-3">
        <div class="fw-bold">@item.Name</div>
        @item.Body
    </div>
    @if (User.GetRole() == "SuperAdmin" || User.GetRole() == "Admin")
    {
        <span>Delete</span>
    }
</div>
}

