@model Mechi.Backend.ViewModel.Blog.CommentCreateViewModel;

@using (Html.BeginForm("CreateComment", "Blog", FormMethod.Post,new{@class="mb-4", id="comment_form"}))
{
    @Html.TextBoxFor(m=>m.Body,
        new{@class="form-control",id="comment-form-input",placeholder="Join the discussion by leaving comment"})
    @Html.HiddenFor(m=>m.ArticleGuid)
}
<script type="text/javascript">
    function appendComment(commentGuid) {
      $.ajax('@Url.Action("GetCommentView","Blog")', {
          type: 'POST', 
          data: {guid:commentGuid},
          success: function (data, status, xhr) {
              $('#comment-section-container').prepend(data)
            },
          error: function (jqXhr, textStatus, errorMessage) {
              
            }
      });
    }
        
        
    $(document).ready(function() {
      $('#comment_form').submit(function(e) {
        e.preventDefault();
        var form = $('#comment_form');
        let url = form.attr('action');
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {                
                $('#comment-form-input').val('');
                appendComment(data.guid);
            },
            error:function(data) {
                console.log(data);
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong. Contact your administration',
                footer: '<a href="">Why do I have this issue?</a>'
              });
            }
        });
      });
    });
</script>