@model Mmc.Blog.ViewModel.UserSignupViewModel

<div class="form-floating mb-3 mt-3">
    @Html.TextBoxFor(m=>m.Email,new {@class="form-control",@placeholder="Enter Email"})
  <label for="email">Email</label>
</div>

<div class="form-floating mt-3 mb-3">
   @Html.TextBoxFor(m=>m.Email,new {@class="form-control",@placeholder="Password"})
  <label for="pwd">Password</label>
</div>