@using Mmc.Blog.Repository
@using Mmc.User.Service
@inject ICategoryRepository _categoryRepo;
@inject IUserService _userService;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Blog website for Mechi Multiple campus" />
        <meta name="author" content="Ashish And Pramisa" />
        
        <title>Mmc - @ViewData["Title"]</title>
        
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/jquery-bootgrid/jquery.bootgrid.css"/>
        <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.css"/>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/fontawesome/js/fontawesome.min.js"></script>
        <script src="~/lib/ckeditor5/ckeditor.js"></script>
        <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
        <script src="~/lib/jquery-bootgrid/jquery.bootgrid.js"></script>
        <script src="~/lib/jquery-bootgrid/jquery.bootgrid.fa.js"></script>
        <script src="~/lib/steps/jquery.steps.js"></script>
        
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("Mmc Blog","Index","Home",null,new{@class="navbar-brand"})
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 justify-content-end" id="navbar_item_container">
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            @RenderBody()
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark m-3">
            <div class="container"><p class="m-0 text-center text-white">Created by Ashish & Pramisa</p></div>
        </footer>
        <script type="text/javascript">
            $(document).ready(function() {
                $.get('@Url.Action("GetDynamicNavbar","Home")', function(data) {
                      $('#navbar_item_container').append(data);
                    }
                );
            });
        </script>
    </body>
</html>
