@{
    Layout = "_Mmc_Layout";
}
<table class="DataTables">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Date</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody></tbody>

</table>