@{
    Layout = "_Mmc_Layout";
}
<div class="row">
    <!-- Latest Activities -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="h3 text-center">Latest Activities</div>
            </div>
            <div class="card-body">
                hhh
            </div>
        </div>
    </div>
    <!-- Site visits -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="text-center h3">
                    Total page visits
                </div>
            </div>
            <div class="card-body">
                <div class="card-body">
                    data here
                </div>
            </div>
        </div>
    </div>
</div>