@using Mechi.Backend.ViewModel.Blog
<link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css">
<script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
<div class="row">
    <div class="col-sm-4">
    <select class="form-control selectpicker" data-live-search="true">
        
    </select>
</div>
<div class="col-sm-8" id="category_form_container">
    @await Html.PartialAsync("PartialViews/Setup/CategoryForm",CategoryViewModel.GetNew())
</div>
</div>
<script>
$.get( '@Url.Action("GetCategoryList","CategoryApi")', function( data ) {
    for(var x = 0; x < data.length; x++){
        addCategoryItem(data[x].guid,data[x].name);
    }
});

function addCategoryItem(guid,name) {
    let item = $('#select-category');
    item.append(`<option value='${guid}' data-tokens="${name}">${name}</option>`);
}

$('.category_list_item').on("click",function() {
  
})

$(function() {
  $('select').selectpicker();
});

</script>