@using Mechi.Backend.ViewModel.Blog
<style>
    #category_list li:hover{
        background-color: #ece1be;
    }
</style>
<div class="row">
    <div class="col-sm-4 d-flex justify-content-center">
    <ul id="category_list" class="btn-group btn-group-vertical">
        
    </ul>
</div>
<div class="col-sm-8" id="category_form_container">
    @await Html.PartialAsync("PartialViews/Setup/CategoryForm",CategoryViewModel.GetNew())
</div>
</div>
<script>
$.get( '@Url.Action("GetCategoryList","CategoryApi")', function( data ) {
    for(var x = 0; x < data.length; x++){
        addCategoryItem(data[x].guid,data[x].name);
    }
});

function addCategoryItem(guid,name) {
    let item = $('#category_list');
    item.append(`<button value='${guid}' class="btn btn-primary">${name}</button>`);
}

$('.category_list_item').on("click",function() {
  alert('clicked');
})

</script>