@model Mmc.Blog.ViewModel.ArticleCreateViewModel
@{
    Layout = "_Blog_Layout";
}
@Html.TextBoxFor(m=>m.Title,null,new {@class="form-control mb-3",@placeholder="Title"})
@Html.TextBoxFor(m=>m.Author,null,new {@class="form-control mb-3",@placeholder="Optional - Author's name"})
@Html.TextAreaFor(m=>m.CkEditorBody,new{@placeholder="Start Writing"})
<button type="submit" class="btn btn-outline-primary mt-3">Post</button>
<script src="~/ckeditor5/ckeditor.js"></script>
<script>
var wineditor;
ClassicEditor
    		.create( document.querySelector( '#CkEditorBody' ), {
    			// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
    			// removePlugins : 'image'
    		} )
    		.then( editor => {
    			window.editor = editor;
    		} )
    		.catch( err => {
    			console.error( err.stack );
    		} );
</script>
