@{
    Layout = "_Blog_Layout";
}
<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css">
<script src="~/lib/jquery-ui/jquery-ui.js"></script>
<div id="tabs">
    <ul>
        <li><a href="#category_tab">Category</a></li>
        <li><a href="#two_tab">User</a></li>
        <li><a href="#three_tab">Course</a></li>
    </ul>
    <div class="row" id="category_tab">
        @await Html.PartialAsync("PartialViews/Setup/CategorySetup")
    </div>
    <div id="two_tab">
        @await Html.PartialAsync("PartialViews/Setup/UserSetup")
    </div>
    <div id="three_tab">
        @await Html.PartialAsync("PartialViews/Setup/CourseSetup")
    </div>
</div>
<script >
    $( function() {
        $( "#tabs" ).tabs();
      } );
</script>