.article-heart{
    height: 50px;
    cursor: pointer;
    transition: 0.9s;
}
.article-heart-liked{
    color: #d63384;
}
.article-heart-unliked{
    color: #2D3A4A;
}
.article-heart-unliked:hover{
    color: #d63384;
    transform: rotateY(360deg);
}
.article-heart-liked:hover{
    color: #2D3A4A;
    transform: rotateY(360deg);
}